# Base properties

server.port=${SPRING_SERVER_PORT}
server.servlet.context-path=/app


# DB properties

spring.datasource.url=${SPRING_DATASOURCE_URL}
spring.datasource.username=${SPRING_DATASOURCE_USERNAME}
spring.datasource.password=${SPRING_DATASOURCE_PASSWORD}

spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.hikari.maximum-pool-size=20


# Hibernate properties

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.open-in-view=false


# Email api properties

spring.mail.username=dormdealsshop@gmail.com
spring.mail.password=ybqejpajqszvqpqt

spring.mail.port=587
spring.mail.host=smtp.gmail.com
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.properties.mail.smtp.allow8bitmime=true
spring.mail.properties.mail.smtp.ssl.trust=smtp.gmail.com
spring.mail.properties.mail.debug=true


# Custom properties

default.page-size=3
password.encoder.strength = 10
password.salt=ttt
storage.path=${STORAGE_PATH}


# Develop properties

logging.level.org.springframework.web=TRACE
server.error.include-stacktrace=always
server.error.include-message=always
server.error.include-exception=true
server.error.include-binding-errors=always

jwt.secret=${SPRING_JWT_SECRET}


# Redis

spring.data.redis.url=${SPRING_REDIS_URL}
